<div class="phileo" style="display:inline">{% if can_like %}<a class="btn ajax"
           data-method="post"
           data-replace-closest=".phileo"
           data-spinner="off"
           href="{{ like_url }}"><i class="fa fa-thumbs-o-up"></i>
           {# like_text #}
        </a>
    {% endif %}
    <span class="count">
        {{ like_count }} {# counts_text #}
    </span>
</div>
