{% extends "base.html" %}
{% block body %}
{% block content %}
<h2>{{ object.username }}</h2>
{% if object.userprofile.bio %}
<div>
<b>Bio:</b>
{{ object.userprofile.bio }}
</div>
{% endif %}
{% endblock %}
{% endblock %}
