{% extends "base.html" %}
{% block title %}<title>Login - {{site}}</title>{% endblock title %}
{% block body %}
<div class="row">
<div class="large-4 large-centered small-8 small-centered columns" style="padding-top:30px; text-align:center;">
{% block formcontent %}
{% endblock formcontent %}
</div>
</div>
{% endblock body %}
