{% extends "registration/form_base.html" %}
{% block title %}<title>Login - {{site}}</title>{% endblock title %}

{% block content %}
<div class="row">
<div class="large-4 large-centered columns">
{% if form.errors %}
<p>Your username and password didn't match!!!!! Please try again.</p>
{% endif %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{% endblock %}
