{% extends 'center_base.html' %}
{% block title %}<title>{{title}} - {{site}}</title>{% endblock title %}
{% block content %}
<h2>{{ title }}</h2>
You have been logged out
<br>
<a href="{% url 'home' %}">Return to Homepage</a>
{% endblock %}
