{% extends "registration/form_base.html" %}
{% block title %}<title>Register - Crosshatch</title>{% endblock title %}
{{block.super}}
{% block formcontent %}
    <form method="post" action"">{%csrf_token%}
<table>
    {{ form }}
    <tr><td></td>
</table>
    <input type="submit" value="register" />
	</form>
{% endblock formcontent %}
