body{
   /* background-color:#FFFFCF;*/
    background-color:white;
}
.topbar {
color:black;
font-size:small;
height:70px;
background-color:#ff7700;
}
.nsfw{
    color:red;
    font-size:.7em;
}
.entry{
/*    margin:20px;*/
}
table{
margin:0px auto;
text-align:center;
}
.pagination{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
}
form {
    text-align:left;}
p.posttitle {
    font-size:1.5em;
    line-height:1.3;
    margin-bottom:.25em;
}
ul.errorlist {
    list-style:none;
    color:red;
}
.topbar a{
    color:#900000;
    font-family:'arial';
    font-size:1em;
    text-decoration:bold;
}
.topbar a:hover {
    text-decoration:underline;
}
.topbar .inline-list > li > * {
    display:inline;
}
.row{
/*max-width:90em;*/
max-width:95%;
}
.row .full .topbar{
    /*max-width:100%;*/
}
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway_thin-webfont.woff') format('woff'),
         url('raleway_thin-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway_thin-webfont.woff') format('woff'),
         url('raleway_thin-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('raleway_thin-webfont-webfont.eot');
    src: url('raleway_thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway_thin-webfont-webfont.woff') format('woff'),
         url('raleway_thin-webfont-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 {
font-family:'ralewaythin'}
h1.hashtagtitle {
font-family:'ralewaythin';
font-size:2em;}

a {
font-family: 'Oxygen', sans-serif;
color:#800;
}
.buttony.keyword {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 0em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: .2em;
  padding-right: .2em;
  padding-bottom: .2em;
  padding-left: .2em;
  font-size: 0.75em;
  background-color: #111;
  border-color: black;
  color: white;
  -webkit-border-radius: 20px;
  min-width:65px;
  border-radius: 20px; }
  .buttony.keyword:hover, .buttony.keyword:focus {
    background-color: #777; }
  .buttony.keyword:hover, .buttony.keyword:focus {
    color: white; }
	.keywords > li   {
	margin-left:1em;
	}
