{% load humanize %}
{% for post in posts %}
    <div class="entry">
        <br>
        {% if post.is_nsfw %}<span class="nsfw">(NSFW)</span><br>{% endif %}
        {% for tag in post.tags.all %}
        <a class="keyword buttony" href="{{SITE_URL}}tags/{{tag.name|lower}}">#{{tag.name|lower}}</a>
        {% endfor %}
        <p class="posttitle"><a href="{{post.url}}">{{post.title}}</a></p>
        {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{{post.author}}</b>{% if request.user == post.author %} <small>(you!)</small>{% endif %}
        <hr>
    </div>
{% endfor %}
