{% extends 'base.html' %}
{% block body %}
<div class="row">
<div class="large-4 columns centered">
{% block newpost %}
<h3>New Post</h3>
        <p>
            <form action="." method="post">
            {% for field in form %}{% csrf_token %}
            {{ form }}
            {% endfor %}
            <input type="submit" value="Submit">
            </form>
        </p>
{% endblock newpost %}
</div>
</div>
{% endblock body %}
