{% extends 'base.html' %}
{% block body %}
{% load humanize %}
<div class="row">
    <!--<div class="large-7 columns centered">-->
{% for post in posts %}
<div>
    {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{{post.author}}</b><br>
    {% for tag in post.tags.all %}
    <a class="keyword buttony" href="{{SITE_URL}}tags/{{tag.name|lower}}">#{{tag.name|lower}}</a>
    {% endfor %}
    <p class="posttitle"><a href="{{post.url}}">{{post.title}}</a></p>
    <hr>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">prev</a>
        {% endif %}
    <span class="current">
        Page {{ posts.number }}/{{posts.paginator.num_pages}}
    </span>

        {% if posts.has_next %}
           <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
<!--</div>-->
{% endblock %}
