{% extends 'base.html' %}
{% load humanize %}
{% load comments %}
{% block content %}
<div>
    <!--<h1>{{post.headline}}</h1>-->
    <h1 style="text-decoration:bold;">{{post.title}}</h1>
            {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{{post.author}}</b>
            <p class="lastpanel"><a href="#"><i class="fa fa-thumbs-o-up"></i></a> <a href="#"><i class="fa fa-thumbs-o-down"></i></a> <i class="fa fa-star"></i></i></p>
    {{post.text|linebreaks}}
</div>
{% if user.is_authenticated %}
    {% get_comment_form for post as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.comment.label }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="#" />
    <input type="submit" value="Add comment" id="id_submit" />
    </form>
{% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
{% endif %}
{% get_comment_form for post as form %}
{% render_comment_list for post %}
{% endblock %}
