{% extends 'base.html' %}
{% block title %}<title>{% for object in selected_tags %}#{{object}} {% endfor %}</title>{% endblock %}
{% block body %}
{% load humanize %}
            <div style="display:inline;" class="large-12 small-12 columns">
                <h1 class="hashtagtitle">
{# create tags #}
                    {% for object in selected_tags %}
                  #{{object}} 
                    {% endfor %}
{# end create tags #}
                </h1><a href="#"><i class="icon-refresh icon-2x"></i></a>
            </div>
    {% for post in tagged_posts %}
            <br>
            {% if post.is_nsfw %}<span class="nsfw">(NSFW)</span><br>{% endif %}
            {% for tag in post.tags.all %}
            <a class="keyword buttony" href="{% url 'tagview' tag.name %}" target="_blank">#{{tag.name|lower}}</a>
            {% endfor %}
            <p class="posttitle"><a href="{{post.url}}">{{post.title}}</a></p>
            {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{{post.author}}</b>{% if request.user == post.author %} <small>(you!)</small>{% endif %}
            <hr>
    {% endfor %}
{% endblock %}
{#{% load humanize %}
    <!--<div class="large-7 columns centered">-->
{% for post in tagged_posts %}
<div>
    {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{{post.author}}</b><br>
    {% for tag in post.tags.all %}
    <a class="keyword buttony">#{{tag.name}}</a>
    {% endfor %}
    <p class="posttitle"><a href="{{post.url}}">{{post.title}}</a></p>
    <hr>
</div>
{% endfor %}#}
<!--</div>-->
