<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=600" /><!--device-width-->
 {% block title %} <title>Crosshatch - Everything is Connected</title>{% endblock title %}
 {% load staticfiles %}

  <link href="{{STATIC_URL}}font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{STATIC_URL}}css/app.css" />  
  <link rel="icon" type="image/png" href="{{STATIC_URL}}/favicon.png">
  <script src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
  <script src="{{STATIC_URL}}js/jquery-cookie/jquery.cookie.js"></script>
  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <script src="{{STATIC_URL}}js/ajax.js"></script>
  <script src="{{STATIC_URL}}js/eldarion-ajax.min.js"></script>
  <script src="{{STATIC_URL}}css/tagging/jquery.tagsinput.js"></script>
  <script src="{{STATIC_URL}}js/jqueryui/ui/minified/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
  <link href="{{STATIC_URL}}css/jquery.tagit.css" rel="stylesheet" type="text/css">
  <script src="{{STATIC_URL}}js/jquery.wookmark.js"></script>
  <script src="{{STATIC_URL}}js/tag-it.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
{% block nav %}
  <div class="full topbar" style="display:inline;">
    <a href="{% url 'home' %}">
      <img class="headerlogo" src="{{STATIC_URL}}img/ch_logo.png" /></a>
      <ul class="inline-list right" style="margin-right:10px;">
        <li><a href="{% url 'newpost' %}">Add Post</a></li>
        <li class="divider show-for-small"></li>
        <li class="has-form">
              {% if user.is_authenticated %}
                  <a href="{% url 'profile' user %}"><i class="icon-user"></i> {{user}} </a><a href="{% url 'auth_logout' %}">(signout)</a>
              {% else %}
                <a href="{% url 'auth_login' %}">Log in</a>
                <!--<li>-->
                <a href="{% url 'registration_register' %}">Register</a>
                <!--</li>-->
              {% endif %}
      </ul>
    </div>
{% endblock nav %}

<div class="row sitebody">
{% block body %}
{% block content %}
{% endblock content %}
{% endblock body %}
</div>
</body>

</html>
