{% extends "base.html" %}
{% block title %}<title>Login - {{site}}</title>{% endblock title %}
{% block body %}
<div class="row">
<div class="large-4 large-centered small-centered columns" style="padding-top:30px;">
{% block content %}
{% endblock content %}
</div>
</div>
{% endblock body %}
