{% extends 'base.html' %}
{% block body %}
 <!-- End Header and Nav -->
 
 
<!-- First Band (Image) -->
 
<div class="row">
<div class="large-12 columns centered">
<hr>
</div>
</div>
<!-- Second Band (Image Left with Text) -->
 
<div class="row">
<div class="large-4 columns">
<h4 style="text-align:center; text-decoration:underline;">Top 20 April</h4>
</div>
<div class="large-4 columns">
<h4 style="text-align:center; text-decoration:underline;">Top 20 All Time</h4>
</div>
<div class="large-4 columns">
<h4 style="text-align:center; text-decoration:underline;">Recent Queries</h4>
<div class="row"></div>
</div>
</div>
</div>
 
 
<!-- Third Band (Image Right with Text) -->
 
<div class="row">
<div class="large-8 columns"></div>
<div class="large-8 columns">
{% block content %}
<img src="http://placehold.it/400x300&text=[img]">
{% endblock content %}
</div>
<div class="large-4 columns">
<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
{{ form }}
</div>
</div>
 
 
<!-- Footer -->
 
<footer class="row">
<div class="large-12 columns">
<hr />
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright 2013 <a href="mailto:ajerez05@gmail.com">Alex Jerez.</a></p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
</ul>
</div>
</div>
</div>
</footer>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
{% endblock body %}