{% extends 'base.html' %}

{% block body %}
{% load humanize %}
{% load phileo_tags %}
{% load comments %}
{% load post_tags %}
{# load bookmarks_tags #}
        {#<div class="row entries">#}
        {# posts #}
{% include 'sortby.html' %}
<div class="allposts">
<ul id="entry">
        {% for post in posts %}
            <li>
                {% if post.is_nsfw %}<span class="nsfw">(NSFW)</span>{% endif %}
                <p class="posttitle"><a href="{{post.url}}" target="_blank">{{post.title}}</a> <small>({{post|domain}})</small></p>
                {% for tag in post.tags.all %}
                <a class="keyword buttony" href="{{SITE_URL}}tags/{{tag.name|lower}}" target="_blank">#{{tag.name|lower}}</a>
                {% endfor %}
                <br>
                {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{% if post.is_anonymous %}<i>anonymous</i>{% else %}{{post.author}}{% endif %}</b><br>
                <span>{# bookmark_form for post #}<i class="fa fa-star"></i> <a href="{{SITE_URL}}post/{{post.slug}}"><i class="fa fa-comment-o"></a></i> {% if user.is_authenticated %}{% phileo_widget user post %}{% endif %}</p><a href="favorite/{{post.pk}}">favorite</a></span>
            </li>
            {% endfor %}
        </ul>
            {# include "listposts_pagination.html" #}
            {#</div>#}
<script src="{{STATIC_URL}}js/jquery.imagesloaded.js"></script>
  <script type="text/javascript">
    (function ($){
      var handler = $('#entry li');
      
      handler.wookmark({
          // Prepare layout options.
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('.sitebody'), // Optional, used for some extra CSS styling
          offset: 15, // Optional, the distance between grid items
          outerOffset: 10, // Optional, the distance to the containers border
          itemWidth: 250 // Optional, the width of a grid item
      });
      
      // Capture clicks on grid items.
      handler.click(function(){
        // Randomize the height of the clicked item.
        var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
        $(this).css('height', newHeight+'px');

        // Update the layout.
        handler.wookmark();
      });
    })(jQuery);
  </script>
  </div>
{% endblock %}
