{% extends 'base.html' %}

{% block body %}
{% load humanize %}
{% load phileo_tags %}
{% load comments %}
{% load post_tags %}
{# load bookmarks_tags #}
        {#<div class="row entries">#}
        {# posts #}
{% include 'sortby.html' %}
<script type="text/javascript">$('.entry').wookmark();</script>
        {% for post in posts %}
            <div class="entry">
                <br>
                {% if post.is_nsfw %}<span class="nsfw">(NSFW)</span>{% endif %}
                <p class="posttitle"><a href="{{post.url}}" target="_blank">{{post.title}}</a> <small>({{post|domain}})</small></p>
                {% for tag in post.tags.all %}
                <a class="keyword buttony" href="{{SITE_URL}}tags/{{tag.name|lower}}" target="_blank">#{{tag.name|lower}}</a>
                {% endfor %}<br>
                {{post.created|date:"M j, Y"}} <small>({{post.created|naturaltime}}) by </small><b>{% if post.is_anonymous %}<i>anonymous</i>{% else %}{{post.author}}{% endif %}</b><br>
                <span>{# bookmark_form for post #}<i class="fa fa-star"></i> <a href="{{SITE_URL}}post/{{post.slug}}"><i class="fa fa-comment-o"></a></i> {% if user.is_authenticated %}{% phileo_widget user post %}{% endif %}</p><a href="favorite/{{post.pk}}">favorite</a></span>
            </div>
        {% endfor %}
            {% include "listposts_pagination.html" %}
            {#</div>#}
{% endblock %}
