<div class="row">
    <div class="large-3 small-3 columns pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-arrow-left"></i> Prev</a>
            {% endif %}
                    {% comment %}
        <span class="current">
            {{ posts.number }} of {{posts.paginator.num_pages}}
        </span>
            {% endcomment %}
            {% if posts.has_next %}
               <a href="?page={{ posts.next_page_number }}"> Next <i class="fa fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
    <div class="large-3 large-offset-6 small-3 small-offset-6 columns">
        <i class="fa fa-floppy-o fa-2x"></i>
    </div>
</div>
