<nav class="top-bar" style="overflow:hidden;">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="{% url 'home' %}">
<img src="{{STATIC_URL}}img/ch_logo.jpg"></a>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <!--<li class="divider"><a href="#">Popular</a></li>-->
      <li><a href="{% url 'listposts' %}">List Posts</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'newpost' %}">Add Post</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Trending Now</a>

        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><label>Dropdown Level 2 Label</label></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><label>Dropdown Level 3 Label</label></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="right"></li>
      <!--<li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>-->
      <li class="divider show-for-small"></li>
      <li class="has-form">
      {% if user.is_authenticated %}
      <div class="topbar">logged in as {{user}}<a href="{% url 'auth_logout' %}">(signout)</a>
      <!--<li><a class="button" href="{% url 'auth_logout' %}">Log out</a></li>-->
      {% else %}
        <!--<a class="button" href="{% url 'auth_login' %}">Log in</a>-->
	<a href="{% url 'auth_login' %}">Log in</a>
            <li>
        <!--<a class="button" href="{% url 'registration_register' %}">Register</a>-->
        <a href="{% url 'registration_register' %}">Register</a>
      </li>
      {% endif %}
      </li>
      </div>
    </ul>
    
  </section>
</nav>

