{% extends "registration/form_base.html" %}
{% block title %}<title>Submit Post - {{site}} </title>{% endblock %}
{{block.super}}
NEWPOST.HTML
{% block formcontent %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_tags").tagit({
			tagLimit:3,
		});
    });
</script>
<h3>New Post</h3>
        <p>
            <form method="post">
            {% csrf_token %}
			<p>{{form.title.label}}{{form.title.errors}}{{form.title}}</p>
			<p>{{form.url.label|upper}}{{form.url.errors}}{{form.url}}</p>
			<p>Tags <small>(maximum 3 tags)</small> {{form.tags.errors}}<input id="id_tags" name="tags" type="text"></p>
                        <p> Is this post <b>NSFW?</b> {{ form.is_nsfw }}</p>
                        <p> Post as <i>anonymous</i></b> {{ form.is_anonymous }}</p>
			<input type="submit" value="Submit" />
			</form>
        </p>
{% endblock formcontent %}
