    <ul class="inline-list">
        <li>{% block sortby-newest%}<a href="#">newest</a>{%endblock%}</li>
        <li{% block sortby-trending%}><a href="{% url 'home_top' %}">top</a>{%endblock%}</li>
        <li>{% block sortby-starred%}<a href="#">starred</a>{%endblock%}</li>
        <li>{% block sortby-tags%}<a href="#">tags</a>{%endblock%}</li>
    </ul>
