<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=500" />
  <title>Crosshatch</title>

  <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
<style type="text/css">
body{
background-color:#ff7700;
background-image:url('static/img/ch_bg.jpg');
}
label{
    text-align:left;
    color:white;
}
h3 {
  font-size:medium ;
  line-height:1em;
}
.row.main {
  max-width:1000px;
  margin-top:100px;
}
p {
  font-size:small;
  line-height:1em;
}
table{
margin:0 auto;}
</style>

  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>

</head>
<body>

	<div class="row main" style="text-align:center;">
	<img style="margin:0 auto;" src="{{STATIC_URL}}img/ch_logo_sm.png"><br>
	</div>
<!--asdoifja;sdojfasd-->
<div class="row">
<div class="large-4 large-centered columns" style="margin-top:30px;">

<div class="section-container auto" data-section="tabs">
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Login</a></p>
    <div class="content" data-section-content>
    <form method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}
        {{ login_form }}
        <input type="submit" value="login" />
    </form>
    </div>
  </section>
  <section>
<p class="title" data-section-title><a href="#panel2">Register</a></p>
    <div class="content" data-section-content>
    <form method="post" action"{% url 'registration_register' %}">
        {% csrf_token %}
    <tr><th><label for="id_username">Username:</label></th><td><input class="required" id="id_username" maxlength="30" name="username" type="text" /></td></tr>
<tr><th><label for="id_email">E-mail:</label></th><td><input class="required" id="id_email" maxlength="75" name="email" type="text" /></td></tr>
<tr><th><label for="id_password1">Password:</label></th><td><input class="required" id="id_password1" name="password1" type="password" /></td></tr>
<tr><th><label for="id_password2">Password (again):</label></th><td><input class="required" id="id_password2" name="password2" type="password" /></td></tr>
    <tr><td></td>
    <input type="submit" value="register" />
	</form>
    </div>
  </section>
</div>


</div>
</div>
  <script>
      document.write('<script src={{STATIC_URL}}js/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js><\/script>');
    </script>

  <script src="{{STATIC_URL}}js/foundation/foundation.js"></script>
  <script src="{{STATIC_URL}}js/foundation/foundation.section.js"></script>
  
  <script src="{{STATIC_URL}}js/foundation.min.js"></script>

  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
