<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=500" />
  <title>Crosshatch</title>

  <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
  <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css" />
<style type="text/css">
body{
background-color:#ff7700;
background-image:url('static/img/ch_bg.jpg');
}
h3 {
  font-size:medium ;
  line-height:1em;
}
.row.main {
  max-width:1000px;
  margin-top:100px;
}
p {
  font-size:small;
  line-height:1em;
}
table{
margin:0 auto;}
</style>

  <script src="{{STATIC_URL}}js/vendor/custom.modernizr.js"></script>

</head>
<body>

	<div class="row main" style="text-align:center;">
	<img style="margin:0 auto;" src="{{STATIC_URL}}img/ch_logo_sm.png"><br>
	</div>
<div class="row">
<div class="large-4 large-centered small-centered columns" style="padding-top:30px; text-align:center;">


<form method="post" action="/accounts/login/">
<input type='hidden' name='csrfmiddlewaretoken' value='bCOIR9K9L37d3YiUlHfwZEf3GZXhYLjD' />
<table>
<tr>
    <td><label for="id_username">Username</label></td>
    <td><input id="id_username" maxlength="254" name="username" type="text" /></td>
</tr>
<tr>
    <td><label for="id_password">Password</label></td>
    <td><input id="id_password" name="password" type="password" /></td>
</tr>
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="" />
</form>

</div>
</div>

  <!--script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44442418-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script-->
  
  <script src="js/foundation.min.js"></script>

  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
